<div class="col-lg-4 col-sm-6 mb-3">
  <div class="card">
    <div class="row g-0">
      <div class="col-sm-12 col-6">
        <% if article.banner_photo_url.size > 5 %>
          <img src="<%= article.banner_photo_url %>" alt="Banner photo" class="card-img-top">
        <% end %>
      </div>

      <div class="col-sm-12 col-6">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p><%= article.timestamp %></p>
          <p class="card-text"><%= truncate(article.body, length: 50) %></p>
          <p class="text-end mb-0"><%= link_to 'See More', article, class: "btn btn-info" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
