<%= form_with model: @article do |f| %>
  <div>
    <% if @article.errors.any? %>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    <%= f.label :title %>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_field :banner_photo_url, class: "form-control", placeholder: "Banner Photo URL" %>
    <%= f.label :banner_photo_url %>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_area :body, class: "form-control", placeholder: "Body", style: "height: 150px;" %>
    <%= f.label :body %>
  </div>

  <div>
    <%= f.label :status %><br />
    <%= f.select :status, ['Public', 'Archived'], 
                          selected: 'Public' %>
  </div>

  <div class="mt-3">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Back', @article, class: "btn btn-warning" %>
  </div>
<% end %>
