<%= provide(:page_title, 'All Articles') %>
<%= provide(:blog_active, 'active') %>

<%= link_to 'New Article', new_article_path, class: "float-end btn btn-outline-dark" %>
<h1>Articles(<%= Article.public_count %>)</h1>

<div class="row">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <%= render 'article', article: article %>
    <% end %>
  <% end %>
</div>
