<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | GloBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon-32x32.png") %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <main>
      <div class="container <%= controller_name %> <%= action_name %>">
        <% if notice %>
          <p class="notice alert alert-info"><%= notice %></p>
        <% elsif alert %>
          <p class="alert alert-warning"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
